@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.title {
  font-size: $title;
  color: $text-primary;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.disabled {
  color: $text-desable;
}
.marginBottom {
  margin-bottom: 20px;
}