@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.lineText {
  font-family: "Arial", sans-serif;
  font-size: $line-text;
  color: $text-primary;
  text-align: left;
  text-wrap: balance;
}

.centered {
  text-align: center;
}

.secundary {
  color: $text-secondary;
}

.disabled {
  color: $text-desable;
}

.bold {
  font-weight: bold;
}

.wordWrap {
  width: 100%;
  overflow-wrap: break-word;
}

.end {
  text-align: start;
  margin-right: 40px;
}

.price {
  text-align: center;
}
.priceCard{
  margin-top: 10px;
  font-size: 18px;
}
.productName {
  font-size: 18px;
}