@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.lineText {
  font-size: $line-text;
  color: $text-primary;
  text-align: left;
}

.centered {
  text-align: center;
}

.secundary {
  color: $text-secondary;
}

.disabled {
  color: $text-desable;
}

.bold {
  font-weight: bold;
}