@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.menuStep {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $background-tertiary;
  color: $text-secondary;
  width: 100%;
  min-height: 73px;
  padding: 5px;
  height: auto;
  border-radius: $border-secondary-radius;
  .number {
    display: block;
    width: 20px;
    margin: 29px;
    font-size: $title;
    font-weight: 700;
  }
}

.light {
  background-color: $background-secundary;
  color: $text-primary
}

.menu_option{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background-tertiary;
  color: $text-secondary;
  width: 80%;
  min-height: 60px;

  border-radius: $border-secondary-radius;
  .icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
}
