@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: $background-secundary;

  .logo {
    background: url("../../../assets/logorojo.jpeg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 130px;
    margin-bottom: 10px;
  }

  .formContainer {
    width: 100%;
    height: auto;

    background-color: $background-secundary;
    border-radius: $border-primary-radius;
  }
  @media screen and (min-width: 430px) {
    .logo {
      height: 85px;
      width: 150px;
    }
    .formContainer {
      width: 100%;
      max-width: 450px;
    }
  }

  @media screen and (min-width: 750px) {
    justify-content: center;
    background-color: $background-quaternary;
    .logo {
      background: url("../../../assets/logoblanco.svg") bottom center;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 85px;
      width: 100px;
      margin-bottom: 30px;
    }
    .formContainer {
      width: 550px;
      max-width: 700px;
      padding: 40px;
      padding: 70px 0;
      border: 3px solid $text-primary;
    }
  }
}
