@import '../../../scss/colors.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 418px;
    margin-bottom: 5px;
    animation: fadeIn 1s ease; //Aplica la animación a la tarjeta 
    opacity: 1;
    margin-left: 0px; // Asegúrate de que la tarjeta sea inicialmente visible 
    >div {
        max-width: 380px;
        width: 90%;
        border: 1px solid $color-nineth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-desable;
        padding: 20px;
        border-radius: 18px;
        >h4 {
            font-size: 25px;
            width: 98%;
            display: flex;
            align-items: center;
            gap: 20px;
            height: 30px;
            &:hover{
                cursor: pointer;
            }
        }p{
            font-size: 12px;
            font-weight: normal;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        >div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >span {
                width: 90%;
            }
            >p {
                border-top: 1px solid $color-seventh;
                border-bottom: 1px solid $color-seventh;
                padding-top: 10px;
            }
            >div {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 24px 5px 0 0;
                justify-content: space-between;
                gap: 5px;
            }
            
        }
    }
}

.divDataPedidos{
 line-height: 20px;
 margin-left: 60px;
 flex-direction: column;

}
.orderNumber {
    margin-top: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #545454;
    text-align: right;
}
.orderTime {
    font-size: 10px;
    color: #545454;
    text-align: right;
    padding-right: 3px;
}
.dividerFooter {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #DDDDDD;
}
.divider {
    width: 100%;
    border-top: 1px solid #DDDDDD;
    margin: 10px 0;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    gap: 5px;
}

.footerPrice{
    align-items: start ;
    text-align: left;
    margin-left: 20px;
    font-size: 25px;
}  
.content_card_history{
    width: 32%; 
    max-width: none;
}

@media screen and (max-width:900px) {
    .content_card{
        width: 50%;
        max-width: 450px;
    }
    .content_card_history{
        width: 49%;
        max-width: none;
    }
}