@import '../../../scss/colors.scss';

.content_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;

    >div {
        border: 1px solid $color-nineth;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-desable;

        >h4 {
            width: 98%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
        }

        >div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >span {
                width: 90%;
            }

            >p {
                border-top: 1px solid $color-seventh;
                border-bottom: 1px solid $color-seventh;
                padding-top: 10px;
            }

            >div {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: end;
                margin: 21px 5px 0 0;
                gap: 5px;
            }
        }
    }
}