@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.loginForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      height: auto;
      color: $text-desable;
      font-size: $line-text;
      box-sizing: border-box;

      @media screen and (min-width: 430px) {
        font-size: $line-text;
        width: 100%;
      }

        @media screen and (min-width: 750px) {
          max-width: 340px;
          font-size: 1.5rem;
        }
    }