@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.button {
  background: $background-buttom-primary-active;
  border-radius: $border-primary-radius;
  border: $border;
  font-weight: 500;
  font-size: $line-text;
  width: 90%;
  height: 40px;
  color: $color-sixth;
  margin: 0 auto;
  &:hover {
    background: $background-buttom-primary-desable;
    transform: scale(1.02);
    cursor: pointer;
  }

  @media screen and (min-width: 430px) {
    border-radius: $border-secondary-radius;
    height: 50px;
    width: 374px;
  }

  @media screen and (min-width: 750px) {
    font-size: $title;
    width: 459px;
    height: 55px;
    border-radius: $border-primary-radius;
  }
}
