@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  

  .helpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;

    .icon {
      height: 24px;
      width: 24px;
      margin-right: 5px;
    }
  }

  .button {
    font-size: $title;
    background-color: $background-tertiary;
    color: $text-secondary;
    width: 100%;
    height: 61px;
    border-radius: $border-primary-radius;
  }
}