@import '../../../scss/colors.scss';

.nav{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  //padding: 0.1rem;
  background-color: $background-quaternary;
  color:$text-secondary;

  >span{
    letter-spacing:4px;
  }
  
  .cloud{
    background-color: $text-secondary;
    width: 18px;
    height: 18px;
    color: $background-primary;
  }
}

  .logo{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.anotherCustomBackground{
    background-color: #4d4444;
}

.iconContainer{
cursor: pointer;
margin: 0 10px;
}
