@import '../../../scss/colors.scss';

.nav{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  background-color: $background-quaternary;
  color:$text-secondary;
  i{
    &:hover {
      cursor: pointer;
  }
  }
  >span{
    letter-spacing:4px;
  }
  
  .cloud{
    background-color: $text-secondary;
    width: 18px;
    height: 18px;
    color: $background-primary;
  }
}


.anotherCustomBackground{
    background-color: #4d4444;
}


