@import '../../../scss/colors.scss';

.nav{
  position: fixed; /* Agrega esta línea */
  top: 0; /* Agrega esta línea para fijar la barra en la parte superior */
  left: 0; /* Agrega esta línea para fijar la barra en la parte izquierda */
  width: 100%; /* Agrega esta línea para que ocupe el 100% del ancho */
  z-index: 50;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 5px;
  background-color: $background-quaternary;
  color:$text-secondary;
  
  .cloud{
    background-color: $text-secondary;
    width: 18px;
    height: 18px;
    color: $background-primary;
  }
}
  .logo{
    height: 30px;
  }
.anotherCustomBackground{
    background-color: #4d4444;
}

.iconContainer{
cursor: pointer;
padding: 3px;
border-radius: 12px 12px 2px 0;
/* margin: 0 10px; */
}

@media screen and (max-width:900px) {
  .nav{
    height: 65px;
    padding: 5px 15px 5px 15px;
  }
  .logo{
    height: 30px;
  }
}