@import '../../../../scss/colors.scss';

.containerd_switch {
  width: 203px;
  height: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3px;
  top: 35px;
  color: $text-primary;
  background: $background-secundary;
  border: $border;
  border-radius: $border-secondary-radius;
  padding: 2rem;
  z-index: 2;

}
.content{
  width: 149px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.switch{
  border: $border_primary;
}
