@import '../../../../scss/colors.scss';

.content_LayoutDashboard {
  display: flex;
  flex-direction: column;

  width: 100%;

  /* background-color: aqua; */
  .content_orders {
    display: flex;
    justify-content: space-around;
    width: 100%;

    >section {
      width: 32%;
      min-height: 65vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    >section:nth-child(2) {
      border-left: 2px solid $color-nineth;
      border-right: 2px solid $color-nineth;
    }
  }

  /*     > div:nth-child(1) {
      } */

/*   >div:nth-child(2) {
    border-left: 2px solid $color-nineth;
    border-right: 2px solid $color-nineth;
  }
 */


}