@import '../../../../scss/colors.scss';

.content_LayoutDashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: aqua; */

}

.status_orders {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.content_orders {
  display: flex;
  justify-content: space-around;
  width: 100%;

  >section:nth-child(2) {
    border-left: 2px solid $color-nineth;
    border-right: 2px solid $color-nineth;
  }
}

/* >section */
.content_status_orders {
  width: 32%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width:900px) {
  .content_LayoutDashboard{
    height: 80vh;
  }
  .content_orders {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    overflow-y: scroll;
    height: 1500px;
    >section:nth-child(2) {
      border-top: 2px solid $color-nineth;
      border-bottom: 2px solid $color-nineth;
      border-left: none;
      border-right: none;
      padding: 21px 0;
    }
    }
    .content_status_orders {
      width: 100%;
      min-height: max-content;
      flex-direction: row;
      align-items: start;
      margin: 10px 0;
      flex-wrap: wrap;
    }

}

@media screen and (max-width: 660px) {
  .content_status_orders {
    justify-content: center;
    flex-wrap: wrap;
  }
}
