@import '../../../../scss/colors.scss';

.content_LayoutDashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.status_orders {
  display: flex;
  justify-content: space-around;
  //height: 60px;
  width: calc(100% - 4rem);
  //padding-top: 0px;
  position: fixed;
  padding-top: 17px;
  padding-bottom: 10px;
  z-index: 40;
  top: 177px;
  background-color: $background-secundary;
}

.content_orders {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 55vh;

  >section:nth-child(2) {
    border-left: 2px solid $color-nineth;
    border-right: 2px solid $color-nineth;
  }
}

/* >section */
.content_status_orders {
  width: 32%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width:900px) {
  .status_orders {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    padding-top: 45px;
    //z-index: 50;
    top: 177px;
    background-color: $background-secundary;
  }
   .content_orders {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 75px;
    padding-top: 10px;
    overflow-y: scroll;
    height: 700px;
    >section:nth-child(2) {
      border-top: 2px solid $color-nineth;
      border-bottom: 2px solid $color-nineth;
      border-left: none;
      border-right: none;
      padding: 21px 0;
    }
    }
    .content_status_orders {
      width: 100%;
      min-height: max-content;
      flex-direction: row;
      margin: 10px 0;
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 660px) {
  .content_status_orders {
    justify-content: center;
    flex-wrap: wrap;
  }
}