@import "../.././../scss/colors.scss";
@import "../../../scss/typography.scss";

.instructionContainer {
  display: flex;
  flex-direction: column;
  min-width: 600px; /* Aumentado el ancho máximo */
  max-height: 750px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 21px;
  padding: 20px;
  background-color: $background-primary;
  border-radius: $border-primary-radius;

  .arrowBack {
    width: 24px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
}
