@import "../.././../scss/colors.scss";
@import "../../../scss/typography.scss";

.instructionContainer {
display: flex;
    flex-direction: column;
    width: 742px;
    min-height: 842px;
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
  background-color: $background-primary;
  border-radius: $border-primary-radius;

  .arrowBack {
    width: 24px;
    height: 20px;
    margin-left: 40px;
    margin-top: 33px;
    cursor: pointer;
  }
}