@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: $background-secundary;
  display: flex;

  .loginContainer {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.logo{
  height: 130px;
  width: 371px;
  background-image: url("../../../assets/imenu_logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
  .sloganContainer {
    background-image: url("../../../assets/LoginBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, .9) 2%,
        rgba(0, 0, 0, 0.5) 20%,
        rgba(255, 255, 255, 0) 50%
      );
     // padding: 0 25% 0 25%;
  }
  .content_2{
    text-align: start;
    z-index: 4;
    .bigText_1 {
      font-family: 'Mabry Pro', sans-serif;
      font-size: 90px;
      font-weight: 100;
      color: $text-secondary;
      //margin: 0 15% 0 15%;
    }
    .bigText{
      font-family: 'Mabry Pro', sans-serif;
      font-size: 90px;
      text-align: left;
      color: $text-secondary;
      //margin: 0 15% 0 15%;
    }
  }


  }
  
}