@import "../../../../scss/colors.scss";
@import "../../../../scss/typography.scss";


.containerd {
  display: flex;
  justify-content: center;
  width: 100%;
/*     background: red; */
  >section{
/*    background-color: rgb(41, 167, 37); */
      width: 35%;
      &:first-child {
          border-right: 2px solid black; /* Agrega un borde derecho de color negro al primer section */
          >button{
              margin: 0 0 10px 0;
          }
        }
  }
}
.containerd > section:nth-child(2) {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:900px) {
  .containerd {
    >section{
        width: 48%;
        align-items: center;
    }
  }
  .buttonContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
