@import "../../../../scss/colors.scss";
@import "../../../../scss/typography.scss";

.section {
  height: 100%;
  width: 100%;

  .contentContainer {
    display: flex;
    height: auto;
    width: auto;

    .buttonContent {
      display: flex;
      flex-direction: column;
      width: 524px;
      border-right: 1px solid black;
    }

    .menuContent {
      display: flex;
      flex-direction: column;
    }

  }
}