@import "../../../../scss/colors.scss";
@import "../../../../scss/typography.scss";

.section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .contentContainer {
    display: flex;
    height: auto;
    width: auto;
    margin: 0 auto;

    .buttonContent {
      display: flex;
      flex-direction: column;
      width: 524px;
      border-right: 1px solid black;
    }

    .menuContent {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      width: 443px;
      border: $border;
      padding: 10px;

      .title {
        display: flex;
        width: 100%;
        background-color: $text-primary;
        // justify-content: space-between;
        // column-gap: 59px;
      }
    }

  }
}