@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.mainContainer {
     display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 372px;
    height: 100%;
    /* max-height: 600px; */
    margin: 0 auto;
    padding-top: 72px;

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 511px;
    width: 342px;
    margin: 0 auto;
    gap: 15px;
    .uploadedFile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $background-tertiary;
      color: $text-secondary;
      width: 100%;
      height: 100px;
      border-radius: $border-secondary-radius;
      padding: 27px;

      .icons {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
      }
    }
  }
}
