.contentRow{
    display: flex;
    width: 100%;
/*     background-image: url("../../../../public/sales_plan1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}