.textContainer {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  font-size: 20px;
}

.text {
  //font-size: 20px;
  border-bottom: 2px solid;
}

.elevatedNumber {
  padding: 0px 8px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 50%;
  transform: translateY(-50%); /* Mueve el número hacia arriba */
  margin-left: 5px; /* Espacio entre el texto y el número */
  /* Agrega sombra si deseas un efecto de elevación más realista */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


@media screen and (max-width: 900px) {
  .textContainer {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    text-align: center; /* Centra el texto y el número horizontalmente */
  &:hover{
    cursor: pointer;
  }
  }

  .elevatedNumber {
/*     width: 19px;
    height: 18px;
    padding: 0; */
    width: 19px;
    height: 18px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-260%); /* Mueve el número hacia arriba */
    //transform: translateX(50%); /* Mueve el número hacia arriba */
    margin-left: 0; /* Elimina el espacio entre el texto y el número */
  }
}