@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.error {
  color: $danger;
  text-align: center;
  font-size: $caption;
  margin: 0 2px;
  visibility: hidden;
  white-space: nowrap;
  @media screen and (min-width: 430px) {
    font-size: $paragraph;
  }

  @media screen and (min-width: 750px) {
    font-size: $line-text;
  }
}

.visible {
  visibility: visible;
}
