@import "../../../scss/colors.scss";

.mainContainer {
   display: flex;
    flex-direction: column;
    width: 372px;
    height: 100%;
    margin: 0 auto;
    
    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      width: 342px;
      margin: 0 auto;
      gap: 15px;
    }
}