@import '../../../../scss/colors.scss';

.containerd_switch{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3px;
    top: 35px;
    color: $text-primary;
    background: $background-secundary;
    border: $border;
    border-radius: $border-secondary-radius;
    padding: 2rem;

}
.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
  /*   border:2px solid #212121; */
   }
   
   .switch input {
    display: none;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: $border;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
   }
   
   input:checked + .slider {
    background-color: #fefefe;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
    background-color: green;
   }
   

   .slider:after {
    content: 'Cerrado';
    color: gray;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
   }
   
   input:checked + .slider:after {
    content: 'Abierto';
    color: green;
   }