@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.paragraph {
  font-size: $paragraph;
  color: $text-primary;
  text-align: left;
}

.secundary {
  color: $text-secondary;
}

.left {
  text-align: left;
}

.bold {
  font-weight: bold;
}
.start{
  text-align: start;
  width: 90%;
}

.no_margin{
  margin: 0;
/*   font-size: $paragraph;
  color: $text-primary;
  text-align: center; */
}

.disabled {
  color: $text-desable;
}

@media screen and (max-width:570px) {
  .paragraph{
    font-size: smaller;
  }
}