@import "../../../scss/typography.scss";

.hugeTitle {
  font-family: 'Mabry Pro', sans-serif;
  font-size: $line-text;
  font-weight: bold;
  text-align: center;
  @media screen and (min-width: 430px) {
    font-size: $title;
  }

  @media screen and (min-width: 750px) {
    font-size: $huge;
  }
}
