@import '../../../../scss/colors.scss';

.containerd{
    display: flex;
    flex-direction: column;
    width: 100%;
    >div{
        width: 100%;
        display: flex;
        .content_date{
            width: 100%;
            display: flex;
            flex-direction: column;
            >span{
                background-color: $color-sixth;
                border: 2px solid #000;
                border-radius: $border-primary-radius;
                width: 100%;
                height: max-content;
                padding: 5px 0;
                font-size: 17px;
                font-weight: 700;
                margin: 10px 0;
            }
            .containerd_card{
                display: flex;
                flex-wrap: wrap;
                align-items: start;
                justify-content: start;
                width: 100%;
                gap: 10px;
            }
        }
    }
}
.date{
    text-align: center;
}

@media screen and (max-width:900px) {
    .containerd_card{
        background-color: darkcyan;
    }
}