@import "../../../scss/colors.scss";
@import "../../../scss/typography.scss";

.label {
        margin: 7px auto 10px 25px;
        font-weight: bold;
        color: inherit;
        font-size: $line-text;

          @media screen and (min-width: 750px) {
            font-size: $title;
          }
      }