@import './scss/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   font-family: Mabry Pro; */
}

body {
  margin: 0;
  padding: 0;
  color: $text-primary;
  background-color: $background-primary;
  font-family: 'Mabry Pro', sans-serif;
}
 
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}