@import './scss/colors.scss';
@import url("https://db.onlinewebfonts.com/c/e4397c6cf12af9f58d46e124d18d6d93?family=MabryPro-Regular");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  color: $text-primary;
  background-color: $background-secundary;
  font-family: "MabryPro-Regular", sans-serif;
}
 
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Mabry Pro', sans-serif;
}

article{
  border: none;
}

p{
  font-family: 'Mabry Pro', sans-serif;
}