$color-primary:#FF4747;
$color-secundary:#000000;
$color-tertiary:#6384FC;
$color-quaternary:#40CB5F;
$color-fifth:#D82137;
$color-sixth:#FFFFFF;
$color-seventh:#F0F0F0;
$color-eighth:#D9D9D9;
$color-nineth:#BABABA;
$color-ten:#ECECEC;

//aun falta decidir
$primary: #ff5400;
$primary-hover: #ffa700;
//
$acento:#6384FC;

$text-primary: #212121;
$text-secondary: #FFFFFF;
$text-tertiary: #0066FF;
$text-desable: #545454;


$border_primary:2px solid #212121;
$border:3px solid #212121;
$border-hover:3px solid #545454;
$border-primary-radius: 10px;
$border-secondary-radius: 4px;

$background-primary: #ECECEC;
$background-secundary:#FFFFFF;
$background-tertiary:#000000;
$background-quaternary:#FF4747;
$background-desable:#F0F0F0;

$background-buttom-primary-active:#212121;
$background-buttom-primary-hover:#545454;
$background-buttom-primary-focus:#A60E0E;
$background-buttom-primary-desable:#BABABA;
$background-buttom-google: #F6FAFF;


$background-buttom-secundary-active:#FFFFFF;
$background-buttom-secundary-hover:#545454;
$background-buttom-secundary-focus:#A60E0E;
$background-buttom-secundary-desable:#BABABA;

$success: #40CB5F;
$danger:#D82137;
