@import '../../../../scss/colors.scss';

.containerd_bars {
    color: $text-primary;
    background-color: $background-secundary;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 50px;
    padding: 30px 10px 0px 10px ;
    border-radius: $border-primary-radius;
    text-decoration: none;
    width: 333px;
    border: $border;
    z-index: 21;
    &:hover{
        cursor:default;
    }

    >article {
        margin: 0px 0 10px 0;
        font-size: 21px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        color: $text-primary;
        border: none;
        padding: 0;
        gap: 10px;
        height: 48px;
        width: 288px;
        &:hover {
            background-color: $background-tertiary;
            color: $text-secondary;
            cursor: pointer;
            /* padding: 0 0 0 10px; */
        }
    }
}

.containerd_bars_inactive {
    position: absolute;
    left: 0px;
    top: 550px;
    border-radius: $border-primary-radius;
    z-index: 21;
}

/* @media screen and (max-width: 730px) {
    .containerd_bars {
        width: 70%;
        top: 35px;
    }
} */