@import '../../../../scss/colors.scss';

.containerd_bars {
    /*     position: relative; */
    color: $text-primary;
    background-color: $background-secundary;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 38px;
    padding: 1rem;
    border-radius: $border-primary-radius;
    text-decoration: none;
    width: 30%;
    border: $border;
    z-index: 21;

    >article {
        margin: 0px 0 18px 0;
        font-size: 21px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: $border-primary-radius;
        color: $text-primary;
        &:hover {
            background-color: $background-tertiary;
            color: $text-secondary;
            cursor: pointer;
        }
    }
      
      
      
      
      
      
    svg {
        width: 30px;
    }
}

@media screen and (max-width: 730px) {
    .containerd_bars {
        width: 70%;
        top: 35px;
    }
}