@import '../../../../scss/colors.scss';

.buttonCard {
    padding: 12px 30px 12px 30px;
    font-size: 18px;
    border-radius: 20px;
    line-height: 16px;
    font-weight: bold;
    color:$text-secondary ;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  .buttonCard_off{
    &:hover {
      cursor: default;
    }
  }
  .iconSize{
    padding: 6px 15px 6px 10px;
    align-items: end;
    border-radius: 10px;
    border: none;
  }
  .colorGreen{
    color: #28B446;
    border: 3px solid #28B446;
  }