@import '../../../../scss/colors.scss';

.buttonCard {
    padding: 7px;
    font-size: 16px;
    border-radius: 10px;
    line-height: 16px;
    font-weight: 400;
    border: none;
    color:$text-secondary ;
    &:hover {
      cursor: pointer;
    }
  }
  .buttonCard_off{
    &:hover {
      cursor: default;
    }
  }