@import '../../../scss/colors.scss';


header {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    display: flex;
    //background-color: $color-eighth;
    //oficial
    background-color: $color-ten;

    .content_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 21px 130px 10px 130px;

        .TbArrowBackUp {
            //position: relative;
            position: absolute;
            //right:115px;
            left: 0;
            margin-left: 10px;
            cursor: pointer;
            z-index: 20;
        }

        >h1 {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
    .content_2{
        margin: 0 130px 21px 130px;
/*         pre {
             margin: 0 130px 21px 130px;
        } */
    }

}

.closed {
    background-color: #250B3D;
    color: $text-secondary;
}


@media screen and (max-width: 500px) {
    header {
        padding: 1rem 0;
        padding-left: 20px;
        div {
            flex-direction: column;
            padding: 0;
            .TbArrowBackUp {
                font-size: 35px;
            }
            >h1 {
                width: 100%;
                text-align: start;
                left: 0;
            }
        }
        >span {
            display: flex;
            margin: 0;

        }
    }
}